

/*.sa-titulo{*/
  /*!* propiedad:valorDeLaPropiedad;*!*/
  /*color: rgb(255, 232, 214);*/
  /*background-color: #001d76;*/
  /*border-style: solid;*/
  /*border-color: rgba(0, 42, 199, 0.6);*/
  /*border-width: 4px;*/
/*}*/


/*.sa-subtitulo{*/
  /*!* propiedad:valorDeLaPropiedad;*!*/
  /*color: rgb(255, 224, 228);*/
  /*background-color: #765812;*/
  /*border-style: solid;*/
  /*border-color: rgba(190, 199, 0, 0.6);*/
  /*border-width: 4px;*/
/*}*/

